{% extends 'base.html' %}

{% block content %}
        {% load staticfiles %}



<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url({% static 'pages/imagesP/services_12.jpg' %}); background-position: 50% 60%;">
				<!-- breadcrumb start -->
				<!-- ================ -->
				<div class="breadcrumb-container">
					<div class="container">
						<ol class="breadcrumb">
							<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{% url 'index' %}">Home</a></li>
							<li class="active">Cloud Computing</li>
						</ol>
					</div>
				</div>
				<!-- breadcrumb end -->


                <div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100"> <strong> </strong></h2>
							<div class="" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100"> </p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->

                <!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h2 class="page-title margin-top-clear text-center" style="text-align: center; color: black" > Amazon Web Services </h2>
							<!-- page-title end -->
							<div class="row">
								<div class="col-md-12" style="font-size: medium; font-weight: 500">

									<div class="separator"></div>


									<p > First Stack Solutions can design, architect, build, migrate, and manage your business and IT workloads and applications by leveraging different features and services on Amazon Web Services (AWS). We deliver comprehensive solutions that will enable you move faster, operate more securely, and save substantial costs all the while benefiting from the scale and performance of the cloud.</p>

									<p> As your business needs, compliance and requirement continuously change you need to be flexible and be able to adapt to the different dynamic component of your business. This can be achieved by adopting Amazon Web Services.  Without upfront capital expense on information technology infrastructure AWS provides features such as computing power, storage options, networking and databases that are delivered as a utility: on-demand, available in seconds, with pay-as-you-go pricing. </p>

                                    <p> By using AWS your business will benefit from massive economies of scale and in the process, you will trade capital expense for variable expense there by freeing up cost and improving efficiencies. Using cloud native solutions your organization agility is dramatically increased because the time and cost it takes to react to any change in business demands and requirement is significantly reduced. </p>

                                    <p> Contact First Stack Solutions for your cloud computing services. </p>

								</div>

							</div>
							<hr>

						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->




{% endblock %}