{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}



<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url({% static 'pages/imagesP/services_10.jpg' %}); background-position: 50% 50%;">
				<!-- breadcrumb start -->
				<!-- ================ -->
				<div class="breadcrumb-container">
					<div class="container">
						<ol class="breadcrumb">
							<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{% url 'index' %}">Home</a></li>
							<li class="active">Audit and Compliance</li>
						</ol>
					</div>
				</div>
				<!-- breadcrumb end -->


                <div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100"> <strong></strong></h2>
							<div class="" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100"> </p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->

                <!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h2 class="page-title margin-top-clear text-center" style="text-align: center; color: black" > Audit and Compliance </h2>
							<!-- page-title end -->
							<div class="row">
								<div class="col-md-12">

									<div class="separator"></div>


									<p style="font-size: medium; font-weight: 500"> First Stack Solutions is strategically positioned to assist your organization with the cyber security components of GDPR.
Small Medium Enterprises and organizations need effective threat and risk assessment and not self-auditing or of the shelf auditing to achieve compliance. Achieving compliance with industry standards doesn't have to be as difficult as it seems. First Stack Solutions will guide you through compliance validation processes quickly and smoothly to help get your organization in compliance and back to your core competency—running your business.
</p>

									<p style="font-size: medium; font-weight: 500">We work with you to make the process as painless as possible. If you've never undergone a compliance assessment before, we can help you prepare for your first one. Compliance isn't a once-a-year process; we're your partner and here for you when you need us.
The GDPR protects European Union data subjects’ fundamental right to privacy and the protection of personal data. It introduces robust requirements that will raise and harmonize standards for data protection, security, and compliance. Engaging a security partner to assist with your GDPR on going compliance ensures that you get an independent review of your current security posture from a team of experts in the information security field who can advise on the best approaches for your business depending on your size and level of risk.
 </p>

								</div>

							</div>
							<hr>

						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->





{% endblock %}