{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}

        <!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url({% static 'pages/imagesP/ecommerce.png' %}); background-position: 50% 12%;">
				<!-- breadcrumb start -->
				<!-- ================ -->
				<div class="breadcrumb-container">
					<div class="container">
						<ol class="breadcrumb">
							<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{% url 'index' %}">Home</a></li>
							<li class="active">e-Commerce</li>
						</ol>
					</div>
				</div>
				<!-- breadcrumb end -->


                <div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100"></h2>

							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100"></p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->

                <!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h2 class="page-title margin-top-clear text-center" style="text-align: center; color: black" >eCommerce Website Solutions</h2>
							<!-- page-title end -->
							<div class="row">
								<div class="col-md-12" style="font-size: medium; font-weight: 500">

									<div class="separator"></div>


									<p>Ecommerce is business that is conducted over the internet. Starting an online business has never been easier. We provide both custom solutions as well as complete turnkey systems for your selling needs. We design and build custom e-Commerce stores for people and Companies around the world. With the right blend of tools and experience we develop search engine friendly shopping cart software solution.</p>


									<p>First Stack Solution user-friendly e-commerce software gives you the power to start, grow and manage your online business with ease.</p>

									<ul class="list-unstyled margin-bottom-20">
										<li><i class="fa fa-check" style="text-align: center; color: #0094ff" ></i>Custom E-commerce Design</li>
										<li><i class="fa fa-check" style="text-align: center; color: #0094ff" ></i>Powerful marketing and merchandising</li>
										<li><i class="fa fa-check" style="text-align: center; color: #0094ff" ></i>Scalable & Flexible Ecommerce Platform</li>
										<li><i class="fa fa-check" style="text-align: center; color: #0094ff" ></i>Custom or Pre-Built Ecommerce Systems </li>
										<li><i class="fa fa-check" style="text-align: center; color: #0094ff" ></i>Feature Rich Admin Backend</li>
                                    </ul>
								</div>

							</div>
							<hr>

						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->





{% endblock %}