{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}

    <!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/page-services-banner.jpg'); background-position: 50% 32%;">
				<!-- breadcrumb start -->
				<!-- ================ -->
				<div class="breadcrumb-container">
					<div class="container">
						<ol class="breadcrumb">
							<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{% url 'index' %}">Home</a></li>
							<li class="active">How We Work</li>
						</ol>
					</div>
				</div>
				<!-- breadcrumb end -->


			</div>
			<!-- banner end -->


<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h2 class="page-title margin-top-clear text-center" style="text-align: center; color: #0094ff" >How We Work</h2>
							<!-- page-title end -->
							<div class="row">
								<div class="col-md-12", style="font-size: medium; font-weight: 500">

									<div class="separator"></div>

									<h3 style="text-align: left; color: #0094ff"> Meeting/Planning </h3>
									<p> During the meeting and planning stage we analyse your project and make sure that we are on the same page as you. We curate the idea that you have conceptualized using wireframe, this outlines the skeleton for the design. When you are happy and everything is clear? Fabulous! We move forward with the design.</p>

									<h3 style="text-align: left; color: #0094ff" > Design/Development </h3>
									<p>The final design takes its shape at this stage and the idea comes to life representing the concept. We will gather high resolution images, unique fonts, icons and animations that are custom tailored to your specific industry. After the design files are approved, it's time to let our developers tie all the pieces together.</p>

									<h3 style="text-align: left; color: #0094ff" > Testing/Delivery </h3>
									<p>We test across all major browsers for speed and scale in order to ensure that your application can support a massive surge of traffic without compromising the user experience. We hand over the original source files with all the resources used to create the custom design. </p>

								</div>

							</div>
							<hr>

						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->


{% endblock %}