{% extends 'base.html' %}

{% block content %}
        {% load staticfiles %}



<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url({% static 'pages/imagesP/services_6.jpg' %}); background-position: 50% 32%;">
				<!-- breadcrumb start -->
				<!-- ================ -->
				<div class="breadcrumb-container">
					<div class="container">
						<ol class="breadcrumb">
							<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{% url 'index' %}">Home</a></li>
							<li class="active">Security Architecture</li>
						</ol>
					</div>
				</div>
				<!-- breadcrumb end -->


                <div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100"> <strong></strong></h2>
							<div class="" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100"> </p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->

                <!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h2 class="page-title margin-top-clear text-center" style="text-align: center; color: black" > Security Architecture</h2>
							<!-- page-title end -->
							<div class="row">
								<div class="col-md-12", style="font-size: medium; font-weight: 500">

									<div class="separator"></div>


									<p> You need a security architecture that is align with your business goals and objectives, so you can stay competitive and compliant with the requirements that encompass your information systems.
									<p> Don’t struggle with complex security architecture that doesn’t protect your information system assets. Let First Stack Solutions help you improve your security posture by having the right security architecture in place.  We will review your existing security architecture, recommend and put in place a security architecture that will protect your information assets and allow you to stay compliant and take advantage of future business opportunities. </p>

								</div>

							</div>
							<hr>

						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->



{% endblock %}